{
  "link": "https://vigotech.org",
  "events": [
    {
      "title": "Protips PhpStorm",
      "date": 1613415600,
      "link": "https://www.meetup.com/es-ES/Php-Coruna/events/275678115/"
    }
  ]
}